.back-button {
  position: absolute;
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  padding: 10px 20px;
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.h1 {
  align-items: center;
  margin-left: 41%;
  text-decoration: underline;
  text-shadow: 2px 2px 5px rgb(56, 39, 39); /* Add horizontal, vertical, and blur values */
  color: rgb(43, 43, 43);
}
.saved_image{
  align-items: center;
  margin-left: 41%;
  text-decoration: underline;
  text-shadow: 2px 2px 5px rgb(56, 39, 39); /* Add horizontal, vertical, and blur values */
  color: rgb(43, 43, 43);
}

/* -------------------------------------- */
.create {
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  padding: 10px 20px;
  background-color:rgb(215, 59, 124); 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.create:hover {
  background-color: rgb(56, 15, 32); /* Darker shade for hover effect */
}

/* -------------------------------------- */

.saved{
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  padding: 10px 20px;
  background-color:gray; /* Bootstrap primary color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.saved:hover {
  background-color:rgb(95, 64, 64); /* Darker shade for hover effect */
}